<table border="1">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Author</td>
        <td>Cost</td>
    </tr>
    <tr *ngFor="let b of books">
        <td>
            {{b.id}}
        </td>
        <td>
            {{b.title}}
        </td>
        <td>
            {{b.author}}
        </td>
        <td>
            {{b.cost}}
        </td>
    </tr>
</table>
<button (click)="sendData()">SendData</button>
<button (click)="clearData()">ClearData</button>
<hr>
<app-datalisten></app-datalisten>
<hr>
<app-datalisten *ngIf="isLoaded"></app-datalisten>