<div>
  <div>
    <h2>My Child Component</h2>
    <div>        
      <app-grid 
                [ipc1]="myCities" 
                (eACty)="handleAddCity($event)"
                (eRCty)="handleRemoveCity($event)">
      </app-grid>
    </div>
  </div>
  <div>
    <h2>My Event Handling</h2>
    <div>
      <input type="text" [value]="myEmail" #myEml /> <!--Template Ref variable-->
    </div>
    <div>
      <button (click)="handleSubmit(myEml.value)">Read Email</button>
    </div>
    <h4>{{myEml.value}}</h4>
  </div>
  <div>
    <h2>My Inter Polation / One way data binding(Controller to View)</h2>
    <h4>{{title}}</h4>
    <input type="text" [value]="title" />
  </div>
  <hr>
  <div>
    <h2>Two Way Data Binding(Controller to View, & View to Controller)</h2>
    <h4>My Company Name - [Data Binding] , (Event Binding)</h4>
    <input type="text" [(ngModel)]="len" />
    <h4>{{myName}}</h4>
  </div>
  <hr>
  <div *ngIf="myCities.length>len">
    <h2>Looping in Angular</h2>
    <div id="mydiv" *ngFor="let xyz of myCities;let i=index">
      {{i}} = {{xyz.id}} - {{xyz.cName}} - {{xyz.countryName}}
    </div>
  </div>
  <hr>
  <div>
    <h4 *ngIf="selectedCity">Selected City is {{selectedCity.cName}}-{{selectedCity.countryName}}</h4>
    <ul>
      <li *ngFor="let c of myCities" [class.selected]="c==selectedCity" (click)="handleCityList(c)">
        <span [class.spanselected]="c==selectedCity">{{c.id}} - {{c.cName}}</span> - {{c.countryName}}
      </li>
    </ul>
  </div>
</div>