<div>
    <div>
        <div class="error" *ngIf="invalid==true">Invalid UserName and Password</div>
        <div>
            <span>User iD</span>
            <div>
                <input type="text" [(ngModel)]="uid" placeholder="Enter your user-id"/>
            </div>
        </div>
        <div>
            <span>Password</span>
            <div>
                <input type="password" [(ngModel)]="pwd" placeholder="Enter your password"/>
            </div>
        </div>
        <div>
            <div>
                <button (click)="handleLogin()">Login</button>
            </div>
        </div>
    </div>
</div>